<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} My Base Template {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/default.css' %}">
</head>
<body>
    <div id="header">
        <h1>{% block sitename %} SITE! {% endblock %}</h1>
    </div>

    <div id="nav">
        {% block sidebar %}
        <a href="/articles/">Articles</a><br>
        <a href="/admin/">Admin</a><br>
        {% endblock %}
    </div>

    <div id="content">
        {% block content%}
        This is the content area
        {% endblock %}
    </div>

    <div id="footer">
        <h2>Copyright! Better watch out!</h2>
    </div>




</body>
</html>