<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} My Base Template {% endblock %}</title>

    <style type="text/css">

    </style>

</head>
<body>
    <div id="page">

    <div id="content">
        {% block content%}
        This is the content area
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/articles/all">Articles</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content2">
        {% block content2 %}
        This is another content area
        {% endblock %}
    </div>

    </div>

</body>
</html>