{% extends "base.html" %}

{% load static %}


{% block title %} About {% endblock %}

{% block sitename %} About Me {% endblock %}

{% block content %}
    <h1>Hello World</h1>

    <div class="container">
        <h2>Hi my name is such and such, I am doing this website so that future employers think that I can do web
            development</h2>
        <ol>
            <li><h2>python</h2></li>
            <li>c++</li>
            <li>django</li>
        </ol>
    </div>

{% endblock content %}