{% extends "base.html" %}

{% load static %}


{% block title %} About {% endblock %}

{% block sitename %} About Me {% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Hello World</h1>

        <h2>Hi my name is such and such, I am doing this website so that future employers think that I can do web
            development</h2>
        <ol>
            <li><h2>python</h2></li>
            <li>c++</li>
            <li>django</li>
        </ol>
    </div>

{% endblock content %}