body {
    text-align: center;
}

#header {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

#nav {
    float: left;
    height: 1000px;
    width: 200px;
    background-color: #008080;
    line-height: 60px;
}

#content {
    float: left;
    width: 500px;
    height: 600px;
    padding: 10px;
    text-align: left;
}

#footer {
    background-color: black;
    color: #ffffff;
    clear: both;
    text-align: center;
    padding: 5px;
}

p, div {
   color: green; 
}

h1 {
    color: #ffd700;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
