body {
    text-align: center;
}

#header {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

#nav {
    float: left;
    height: 900px;
    width: 200px;
    background-color: #eeeeee;
    line-height: 60px;
}

#content {
    float: left;
    width: 500px;
    height: 600px;
    padding: 10px;
    text-align: left;
}

#footer {
    background-color: black;
    color: #ffffff;
    clear: both;
    text-align: center;
    padding: 5px;
}
